.card {
  background-color: var(--bg-card);
  border-radius: 18px;
  padding: 18px 20px;
  max-width: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;
}

.imageTextContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.image {
  width: 60px;
  height: 60px;
}

.title {
  color: var(--text-color);
  margin-bottom: 10px;
}

.desctiption {
  color: var(--text-desc-color);
  max-width: 210px;
  font-size: 14px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteButton {
  background-color: transparent;
  border: 1px solid var(--delete-button-border);
  color: var(--button-text-color);
  font-family: inherit;
  padding: 14px 16px;
  border-radius: 50px;
  transition: border-color .3s ease, background-color .3s ease, color .3s ease;

  &:hover {
    border-color: var(--hover-border-color);
  }

  &:focus {
    background-color: var(--focus-bg-button);
    color: var(--focus-button-text-color)
  }
}