.extesionsListTitle {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 28px;
}

.extesionsButtonList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 32px;
}

.extesionsButton {
  font-family: inherit;
  background-color: var(--extension-button-bg);
  border: 1px solid transparent;
  border-radius: 50px;
  color: var(--extension-button-text-color);
  padding: 10px 18px;
  transition: border-color .3s ease, background-color .3s ease, color .3s ease;

  &:hover {
    border-color: var(--hover-border--color);
  }

  &:focus {
    background-color: var(--focus-bg-button);
    color: var(--focus-button-text-color)
  }
}