.headerBackdrop {
  background-color: var(--bg-card);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 44px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.iconTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: var(--icon-color-title);
  font-size: 36px;
}

.headerTitle {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
}

.buttonTheme {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-button-bg);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: border-color .3s ease, background-color .3s ease;

  &:hover {
    border-color: var(--hover-border-color)
  }

  &:focus {
    background-color: var(--focus-bg-button);
  }
}

.buttonThemeIcon {
  color: var(--icon-color-button);
  font-size: 36px;
}