.toggleContainer {
  display: inline-block;
  position: relative;
}

.toggleInput {
  display: none;
}

.toggleLabel {
  width: 46px;
  height: 25px;
  background: var(--toggle-bg-color);
  border-radius: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggleLabel::after {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--toggle-after-bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.on {
  background: var(--focus-bg-button);
}

.on::after {
  left: 24px;
}